/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body {
    font-size: 100%;
    background-color: rgb(252, 250, 244);
}

#container {
    max-width: 600px; /* background-image: coffey.jpg är så här bred */
    margin: 0 auto;
}

#topbar {
    height: 210px;
    text-align: right;
    font: italic 0.6em "Verdana", sans-serif;
    color: rgb(234, 231, 210);
    padding: 5px;
    /* lägger background-* en och en för att enklare kunna manipulera dem var för sig i webbläsaren */
    background-color: rgb(81, 71, 61);
    background-image: url('pics/coffey.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

#menu {
    
}

/* enbart a med href="#maincontent" */
#menu a[href="#maincontent"] {
    font: 1em "Verdana", sans-serif;
    padding: 5px;
	position: absolute;
	top: -40px; /* dölj när den inte är i focus genom att lägga den utanför skärmen */
	left: 0px;
	background: transparent;
	color: white ; /* följer inte övriga färger för att göra den extra synlig när den väl syns */
	-webkit-transition: top 1s ease-out, background 1s linear; /* äldre android browsers och Safari */
    transition: top 1s ease-out, background 1s linear;
    z-index: 100; /* för att vara säke rpå att denna alltid hamnar överst */
}

#menu a[href="#maincontent"]:focus {
	position: absolute;
	top: 0px;
	background: red; /* följer inte övriga färger för att göra den extra synlig när den väl syns */
	-webkit-transition: top .1s ease-in, background .5s linear; /* äldre android browsers och Safari */
    transition: top .1s ease-in, background .5s linear;
}

#menu ul li {
    display: inline;
}

#content {
    
}

#maincontent {
    
}

#subcontent {
    
}

#bottomcontent {
    
}